<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>

  <body>
    <div class="page-header">
      <nav
        class="navbar is-info"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img
              src="https://vi.seaicons.com/wp-content/uploads/2016/11/football-icon-2.png"
              width="60"
              height="60"
            />
          </a>
          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/players"> Players </a>
            <a class="navbar-item" href="/nations"> Nations </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"> More </a>
              <div class="navbar-dropdown">
                <a class="navbar-item"> About </a>
                <a class="navbar-item"> Jobs </a>
                <a class="navbar-item"> Contact </a>
                <hr class="navbar-divider" />
                <a class="navbar-item"> Report an issue </a>
              </div>
            </div>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light"> Log in </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="page-body container mt-5">
      <div class="columns">
        <div class="column">
          <div class="box">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Tools</th>
                </tr>
              </thead>
              <tbody>
                <% nations.forEach(function(nation){ %>
                <tr>
                  <td>
                    <a href="nations/profile/<%=nation.id%>"
                      ><%= nation.name %></a
                    >
                  </td>
                  <td><%= nation.description %></td>
                  <td>
                    <div class="buttons are-small">
                      <a href="nations/editNation/<%=nation.id%>">
                        <button class="button is-warning is-light">
                          Edit
                        </button></a
                      >
                      <a
                        href="nations/deleteNation/<%=nation.id%>"
                        onclick="return confirm('Are you sure you want to delete this nation?')"
                      >
                        <button class="button is-danger is-light">
                          Delete
                        </button></a
                      >
                    </div>
                  </td>
                </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <form method="post">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Name</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input
                        required
                        class="input is-info"
                        name="name"
                        type="text"
                        placeholder="input name"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Description</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input
                        required
                        class="input is-info"
                        name="description"
                        type="text"
                        placeholder="Input information"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <button class="button is-primary" type="submit">
                        Create
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
